.page-title-alt{
  padding: 350px 0 70px;
  overflow-x: clip;
}

.border-thick{
  border: 10px solid;
}

.drag-lg-top{
  margin-top: -230px;
  @include desktop {
    margin-top: 0;
  }
}

.page-title-alt{
  .container{
    position: relative;
    z-index: 1;
  }

  .bg-shape-1{
    position: absolute;
    left: 0;
    top: 0;
    max-width: fit-content;
    max-height: fit-content;
  }

  .bg-shape-2{
    position: absolute;
    left: 70px;
    top: 100px;
  }

  .bg-shape-3{
    position: absolute;
    left: 5%;
    top: 20%;
    @include mobile {
      left: -20%;
      bottom: 10%;
    }
    @include tablet {
      left: -20%;
      bottom: 10%;
    }
    transform: rotate(180deg);
    max-width: 70vw; 
    max-height: fit-content;
  }

  .bg-shape-4{
    position: absolute;
    left: 30%;
    bottom: 25%;
    @include mobile {
      left: 50%;
      top: 25%;
    }
    @include tablet {
      left: 50%;
      top: 25%;
    }
  }

  .bg-shape-5{
    position: absolute;
    left: 40%;
    bottom: -25px;
  }

  .bg-shape-6{
    position: absolute;
    bottom: 0%;
    right: -10%;
    @include mobile {
      bottom: 10%;
      right: -20%;
    }
    @include tablet {
      bottom: 10%;
      right: -20%;
    }
    max-width: 70vw; 
    max-height: fit-content;
  }
}
