.page-title {
  padding: 250px 0 150px;
  overflow-x: clip;

  .container {
    position: relative;
    z-index: 1;
  }

  .bg-shape-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .bg-shape-2 {
    position: absolute;
    right: 10vw;
    top: auto;
    max-width: 50vw; 
    max-height: fit-content;
  }

  .bg-shape-3 {
    position: absolute;
    left: 10%;
    top: 100px;
  }

  .bg-shape-4 {
    position: absolute;
    left: 50%;
    top: -20px;
  }

  .bg-shape-5 {
    position: absolute;
    left: -5%;
    bottom: -10%;
    @include mobile {
      bottom: -10%;
      left: -15%;
    }
    @include tablet {
      bottom: -10%;
      left: -15%;
    }
    transform: rotate(180deg);
    max-width: 50vw; 
    max-height: fit-content;
  }

  .bg-shape-6 {
    position: absolute;
    right: 50%;
    bottom: -5%;
  }

  .bg-shape-7 {
    position: absolute;
    right: -10%;
    top: 20%;
    max-width: 50vw; 
    max-height: fit-content;
  }
}

.filter-controls {
  li {
    cursor: pointer;

    &.active {
      font-weight: bold;
    }
  }
}