<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="{{ site.baseurl }}/">
      {% if site.data.settings.logo %}
        <img src="{{ site.data.settings.logo | absolute_url }}" alt="{{ site.data.settings.title }}">
        {% else if %}
        <h3 class="text-white font-tertiary">{{site.data.settings.title}}</h3>
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ol class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        </li>
        {% for link in site.data.settings.menu %}
          {% if link[1].first %}
          <li class="nav-item {{ class }} dropdown"> 
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link[0] }}</a> 
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for childlink in link[1] %}
                {% for linkparts in childlink %}
                  <a class="dropdown-item" href="{{ linkparts[1] | relative_url }}">{{ linkparts[0] }}</a>
                {% endfor %}
              {% endfor %} 
            </div>
          </li>
          {% else %} 
            <li class="nav-item {{ class }}">
              <a class="nav-link" href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
            </li> 
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </nav>
</header>